{{#section 'pagelevelstyles'}}

{{/section}}

{{#section 'pagelevelscripts'}}

<script src="/lib/ExplorerCanvas/excanvas.js"></script>

<script src="/lib/qrcodejs/qrcode.js"></script>

{{/section}}


{{#section 'footer'}}
<script>
    jQuery(document).ready(function () {

        var qrcode = new QRCode(document.getElementById("qrcode"), {
            text: '{{qrcodedata}}',
            width: 128,
            height: 128,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });
    });

</script>
{{/section}}

<!-- BEGIN PAGE -->

<div class="page-content no-min-height">

    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->


    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

    <!-- BEGIN PAGE CONTAINER-->

    <div class="container-fluid promo-page">

        <!-- BEGIN PAGE CONTENT-->

        <div class="row-fluid">

            <div class="span12">

                <div class="block-grey">

                    <div class="container">

                        <div id="promo_carousel" class="carousel slide">

                            <div class="carousel-inner">

                                <div class="active item">

                                    <div class="row-fluid">

                                        <div class="span5 animated rotateInDownLeft">

                                            <div id="guanzhu"><img src="/images/qrcode.jpg"></div>

                                            <div id="qrcode"></div>

                                        </div>

                                        <div class="span7 margin-bottom-20 margin-top-20 animated rotateInUpRight">


                                            <ul class="unstyled span10">

                                                {{#with projectinfo}}

                                                <li><span>项目名称:</span> {{name}}<input type="hidden" id="hdprojectid"
                                                                                      value="{{projectinfo._id}}"/></li>

                                                <li><span>部门:</span> {{department}}</li>

                                                <li><span>网站地址:</span><a href="{{siteurl}}" target="_blank"> {{siteurl}}</a></li>

                                                <li><span>状态:</span> {{GetStatus}}</li>

                                                {{/with}}

                                            </ul>




                                        </div>



                                    </div>

                                </div>

                            </div>


                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- END PAGE CONTENT-->

</div>

<!-- END PAGE CONTAINER-->
