{{#section 'pagelevelstyles'}}

{{/section}}

{{#section 'pagelevelscripts'}}

<script src="/lib/ExplorerCanvas/excanvas.js"></script>

<script src="/lib/qrcodejs/qrcode.js"></script>

{{/section}}


{{#section 'footer'}}
<script>
    jQuery(document).ready(function () {

        var qrcode = new QRCode(document.getElementById("qrcode"), {
            text: "http://jindo.dev.naver.com/collie",
            width: 128,
            height: 128,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });
    });

</script>
{{/section}}

<!-- BEGIN PAGE -->

<div class="page-content no-min-height">

    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->


    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

    <!-- BEGIN PAGE CONTAINER-->

    <div class="container-fluid promo-page">

        <!-- BEGIN PAGE CONTENT-->

        <div class="row-fluid">

            <div class="span12">

                <div class="block-grey">

                    <div class="container">

                        <div id="promo_carousel" class="carousel slide">

                            <div class="carousel-inner">

                                <div class="active item">

                                    <div class="row-fluid">

                                        <div class="span7 margin-bottom-20 margin-top-20 animated rotateInUpRight">

                                            <h1>Welcome to Metronic..</h1>

                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                                praesentium voluptatum deleniti atque corrupti quos dolores et quas
                                                molestias excepturi sint occaecati cupiditate non provident, similique.
                                                Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit
                                                amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam
                                                lacus. Fusce condimentum eleifend enim a feugiat.</p>

                                            <p>Lunt in culpa qui officia deserunt mollitia animi, id est laborum et
                                                dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio
                                                lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero
                                                consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum
                                                eleifend enim a feugiat.</p>

                                            <a href="index.html" class="btn red big xlarge">

                                                Take a tour

                                                <i class="m-icon-big-swapright m-icon-white"></i>

                                            </a>

                                        </div>

                                        <div class="span5 animated rotateInDownLeft">

                                            <div id="qrcode"></div>

                                        </div>

                                    </div>

                                </div>

                                <div class="item">

                                    <div class="row-fluid">

                                        <div class="span5 animated rotateInUpRight">

                                            <a href="index.html"><img src="/member/image/img1_2.png" alt=""></a>

                                        </div>

                                        <div class="span7 margin-bottom-20 animated rotateInDownLeft">

                                            <h1>Buy Metronic Today..</h1>

                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                                praesentium voluptatum deleniti atque corrupti quos dolores et quas
                                                molestias excepturi sint occaecati cupiditate non provident, similique.
                                                Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit
                                                amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam
                                                lacus. Fusce condimentum eleifend enim a feugiat.</p>

                                            <p>Lunt in culpa qui officia deserunt mollitia animi, id est laborum et
                                                dolorum fuga. Ut non libero consectetur adipiscing elit magna. Sed et
                                                quam lacus. Fusce condimentum eleifend enim a feugiat.</p>

                                            <a href="index.html" class="btn green big xlarge">

                                                But it today

                                                <i class="m-icon-big-swapright m-icon-white"></i>

                                            </a>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <a class="carousel-control left" href="#promo_carousel" data-slide="prev">

                                <i class="m-icon-big-swapleft m-icon-white"></i>

                            </a>

                            <a class="carousel-control right" href="#promo_carousel" data-slide="next">

                                <i class="m-icon-big-swapright m-icon-white"></i>

                            </a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- END PAGE CONTENT-->

</div>

<!-- END PAGE CONTAINER-->
