<div class="footer">

    <div class="container">

        <div class="footer-inner">

            2016 &copy; OMP.
        </div>

        <div class="footer-tools">

				<span class="go-top">

				<i class="icon-angle-up"></i>

				</span>

        </div>

    </div>

</div>

<script src="/member/js/jquery-1.10.1.min.js" type="text/javascript"></script>

<script src="/member/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

<script src="/member/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>

<script src="/member/js/bootstrap.min.js" type="text/javascript"></script>

<!--[if lt IE 9]>

<script src="/member/js/excanvas.min.js"></script>

<script src="/member/js/respond.min.js"></script>

<![endif]-->

<script src="/member/js/jquery.slimscroll.min.js" type="text/javascript"></script>

<script src="/member/js/jquery.blockui.min.js" type="text/javascript"></script>

<script src="/member/js/jquery.cookie.min.js" type="text/javascript"></script>

<script src="/member/js/jquery.uniform.min.js" type="text/javascript" ></script>

<!-- END CORE PLUGINS -->

<script src="/member/js/app.js"></script>
