<!DOCTYPE html>

<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->

<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->

<!--[if !IE]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

    <meta charset="utf-8"/>

    <title>后台管理系统</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <meta content="" name="description"/>

    <meta content="" name="author"/>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <link href="/admin/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

    <link href="/admin/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <link href="/admin/css/style-metro.css" rel="stylesheet" type="text/css"/>

    <link href="/admin/css/style.css" rel="stylesheet" type="text/css"/>

    <link href="/admin/css/style-responsive.css" rel="stylesheet" type="text/css"/>

    <link href="/admin/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

    <link href="/admin/css/uniform.default.css" rel="stylesheet" type="text/css"/>

    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL STYLES -->

    <link href="/admin/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>

    <link href="/admin/css/daterangepicker.css" rel="stylesheet" type="text/css"/>

    <link href="/admin/css/fullcalendar.css" rel="stylesheet" type="text/css"/>

    <link href="/admin/css/jqvmap.css" rel="stylesheet" type="text/css" media="screen"/>

    <link href="/admin/css/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>

    <!-- END PAGE LEVEL STYLES -->

    <link rel="shortcut icon" href="/admin/image/favicon.ico"/>

    {{{ _sections.header }}}

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

<!-- BEGIN HEADER -->

{{> adminheader }}

<!-- END HEADER -->

<!-- BEGIN CONTAINER -->

<div class="page-container">

    <!-- BEGIN SIDEBAR -->

    {{> adminsidebar }}

    <!-- END SIDEBAR -->

    <!-- BEGIN PAGE -->

    <div class="page-content">

        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <div id="portlet-config" class="modal hide">

            <div class="modal-header">

                <button data-dismiss="modal" class="close" type="button"></button>

                <h3>Widget Settings</h3>

            </div>

            <div class="modal-body">

                Widget settings form goes here

            </div>

        </div>

        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            {{> adminpageheader }}

            <!-- END PAGE HEADER-->

            <div id="dashboard">

                {{{@body}}}

            </div>

        </div>

        <!-- END PAGE CONTAINER-->

    </div>

    <!-- END PAGE -->

</div>

<!-- END CONTAINER -->

{{> adminfooter }}

{{{ _sections.footer }}}

</body>

</html>