<!DOCTYPE html>

<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->

<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->

<!--[if !IE]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

    <meta charset="utf-8"/>

    <title>管理控制台</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <meta content="" name="description"/>

    <meta content="" name="author"/>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="/member/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <link href="/member/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

    <link href="/member/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <link href="/member/css/style-metro.css" rel="stylesheet" type="text/css"/>

    <link href="/member/css/style.css" rel="stylesheet" type="text/css"/>

    <link href="/member/css/style-responsive.css" rel="stylesheet" type="text/css"/>

    <link href="/member/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

    <link href="/member/css/uniform.default.css" rel="stylesheet" type="text/css"/>

    <!-- END GLOBAL MANDATORY STYLES -->

    {{{ _sections.pagelevelstyles }}}

    <link rel="shortcut icon" href="/member/image/favicon.ico"/>


</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

<!-- BEGIN HEADER -->

{{> header }}

<!-- END HEADER -->

<!-- BEGIN CONTAINER -->

<div class="page-container">

    <!-- BEGIN SIDEBAR -->

    {{> sidebar }}

    <!-- END SIDEBAR -->

    <!-- BEGIN PAGE -->

    <div class="page-content">

        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <div id="portlet-config" class="modal hide">

            <div class="modal-header">

                <button data-dismiss="modal" class="close" type="button"></button>

                <h3>Widget Settings</h3>

            </div>

            <div class="modal-body">

                Widget settings form goes here

            </div>

        </div>

        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            {{> pageheader }}

            <!-- END PAGE HEADER-->

            <div id="dashboard">

                {{{@body}}}

            </div>

        </div>

        <!-- END PAGE CONTAINER-->

    </div>

    <!-- END PAGE -->

</div>

<!-- END CONTAINER -->

{{> footer }}

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    wx.config({{{wechatconfig}}});

    wx.ready(function () {
        // 2. 分享接口
        // 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
        wx.onMenuShareAppMessage({
            title: '网站监测系统',
            desc: '网站监测系统',
            link: 'http://monitor.ompchina.net',
            imgUrl: 'http://demo.open.weixin.qq.com/jssdk/images/p2166127561.jpg',
            trigger: function (res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
            },
            success: function (res) {
            },
            cancel: function (res) {
            },
            fail: function (res) {
            }
        });

        wx.hideMenuItems({
            menuList: [
                'menuItem:share:timeline'
            ],
            success: function (res) {
            },
            fail: function (res) {
            }
        });

    });
</script>

{{{ _sections.pagelevelscripts}}}

<script>

    jQuery(document).ready(function() {

        App.init(); // initlayout and core plugins

    });

</script>

{{{ _sections.footer }}}



</body>

</html>
