<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

    <meta charset="utf-8" />

    <title>OMP网站监测系统——{{title}}</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <meta content="" name="description" />

    <meta content="" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="/member/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <link href="/member/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

    <link href="/member/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <link href="/member/css/style-metro.css" rel="stylesheet" type="text/css"/>

    <link href="/member/css/style.css" rel="stylesheet" type="text/css"/>

    <link href="/member/css/style-responsive.css" rel="stylesheet" type="text/css"/>

    <link href="/member/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

    <link href="/member/css/uniform.default.css" rel="stylesheet" type="text/css"/>

    <!-- END GLOBAL MANDATORY STYLES -->

    {{{ _sections.pagelevelstyles }}}

    <link rel="shortcut icon" href="/member/image/favicon.ico"/>

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed page-full-width">

<!-- BEGIN HEADER -->

{{> siteheader }}

<!-- END HEADER -->

<!-- BEGIN CONTAINER -->

<div class="page-container row-fluid">

    <!-- BEGIN EMPTY PAGE SIDEBAR -->

    <div class="page-sidebar nav-collapse collapse visible-phone visible-tablet">

        <ul class="page-sidebar-menu">

            <li class="visible-phone visible-tablet">

                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

                <form class="sidebar-search">

                    <div class="input-box">

                        <a href="javascript:;" class="remove"></a>

                        <input type="text" placeholder="Search..." />

                        <input type="button" class="submit" value=" " />

                    </div>

                </form>

                <!-- END RESPONSIVE QUICK SEARCH FORM -->

            </li>

            <li>

                <a class="active" href="/">

                    监测系统

                </a>

            </li>

            <li  class="active">

                <a href="javascript:;">

                    项目

                    <span class="arrow open"></span>

                    <span class="selected"></span>

                </a>


            </li>

        </ul>

    </div>

    <!-- END EMPTY PAGE SIDEBAR -->

    <!-- BEGIN PAGE -->

    {{{@body}}}

    <!-- END PAGE CONTAINER-->

</div>

<!-- END PAGE -->

<!-- END CONTAINER -->

<!-- BEGIN FOOTER1 -->

{{> sitefooter }}

<!-- END FOOTER -->

{{{ _sections.pagelevelscripts}}}

<script>

    jQuery(document).ready(function() {

        App.init(); // initlayout and core plugins

    });

</script>

{{{ _sections.footer }}}


<!-- END BODY -->

</html>