<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

    <meta charset="utf-8" />

    <title>OMP网站监测系统——{{title}}</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <meta content="" name="description" />

    <meta content="" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="/member/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <link href="/member/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

    <link href="/member/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <link href="/member/css/style-metro.css" rel="stylesheet" type="text/css"/>

    <link href="/member/css/style.css" rel="stylesheet" type="text/css"/>

    <link href="/member/css/style-responsive.css" rel="stylesheet" type="text/css"/>

    <link href="/member/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

    <link href="/member/css/uniform.default.css" rel="stylesheet" type="text/css"/>

    <!-- END GLOBAL MANDATORY STYLES -->

    {{{ _sections.pagelevelstyles }}}

    <link rel="shortcut icon" href="/member/image/favicon.ico"/>

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed page-full-width">

<!-- BEGIN HEADER -->

{{> siteheader }}

<!-- END HEADER -->

<!-- BEGIN CONTAINER -->

<div class="page-container row-fluid">

    <!-- BEGIN EMPTY PAGE SIDEBAR -->

    <div class="page-sidebar nav-collapse collapse visible-phone visible-tablet">

        <ul class="page-sidebar-menu">

            <li class="visible-phone visible-tablet">

                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

                <form class="sidebar-search">

                    <div class="input-box">

                        <a href="javascript:;" class="remove"></a>

                        <input type="text" placeholder="Search..." />

                        <input type="button" class="submit" value=" " />

                    </div>

                </form>

                <!-- END RESPONSIVE QUICK SEARCH FORM -->

            </li>

            <li>

                <a class="active" href="/">

                    监测系统

                </a>

            </li>

            <li  class="active">

                <a href="javascript:;">

                    项目

                    <span class="arrow open"></span>

                    <span class="selected"></span>

                </a>


            </li>

        </ul>

    </div>

    <!-- END EMPTY PAGE SIDEBAR -->

    <!-- BEGIN PAGE -->

    <div class="page-content no-min-height">

        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->


        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid promo-page">

            <!-- BEGIN PAGE CONTENT-->

            <div class="row-fluid">

                <div class="span12">

                    <div class="block-grey">

                        <div class="container">

                            <div id="promo_carousel" class="carousel slide">

                                <div class="carousel-inner">

                                    <div class="active item">

                                        <div class="row-fluid">

                                            <div class="span7 margin-bottom-20 margin-top-20 animated rotateInUpRight">

                                                <h1>Welcome to Metronic..</h1>

                                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>

                                                <p>Lunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>

                                                <a href="index.html" class="btn red big xlarge">

                                                    Take a tour

                                                    <i class="m-icon-big-swapright m-icon-white"></i>

                                                </a>

                                            </div>

                                            <div class="span5 animated rotateInDownLeft">

                                                <a href="index.html"><img src="/member/image/img1.png" alt=""></a>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="item">

                                        <div class="row-fluid">

                                            <div class="span5 animated rotateInUpRight">

                                                <a href="index.html"><img src="/member/image/img1_2.png" alt=""></a>

                                            </div>

                                            <div class="span7 margin-bottom-20 animated rotateInDownLeft">

                                                <h1>Buy Metronic Today..</h1>

                                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>

                                                <p>Lunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>

                                                <a href="index.html" class="btn green big xlarge">

                                                    But it today

                                                    <i class="m-icon-big-swapright m-icon-white"></i>

                                                </a>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <a class="carousel-control left" href="#promo_carousel" data-slide="prev">

                                    <i class="m-icon-big-swapleft m-icon-white"></i>

                                </a>

                                <a class="carousel-control right" href="#promo_carousel" data-slide="next">

                                    <i class="m-icon-big-swapright m-icon-white"></i>

                                </a>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- END PAGE CONTENT-->

    </div>

    <!-- END PAGE CONTAINER-->

</div>

<!-- END PAGE -->

<!-- END CONTAINER -->

<!-- BEGIN FOOTER1 -->

{{> sitefooter }}

<!-- END FOOTER -->

{{{ _sections.pagelevelscripts}}}

<script>

    jQuery(document).ready(function() {

        App.init(); // initlayout and core plugins

    });

</script>

{{{ _sections.footer }}}


<!-- END BODY -->

</html>