{{#section 'pagelevelstyles'}}
<!-- BEGIN PAGE LEVEL STYLES -->

<link rel="stylesheet" type="text/css" href="/admin/css/select2_metro.css" />

<link rel="stylesheet" type="text/css" href="/admin/css/chosen.css" />

<!-- END PAGE LEVEL STYLES -->
{{/section}}


{{#section 'pagelevelscripts'}}


<!-- BEGIN PAGE LEVEL PLUGINS -->

<script type="text/javascript" src="/admin/js/jquery.validate.min.js"></script>

<script type="text/javascript" src="/admin/js/additional-methods.min.js"></script>

<script type="text/javascript" src="/admin/js/select2.min.js"></script>

<script type="text/javascript" src="/admin/js/chosen.jquery.min.js"></script>

<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL STYLES -->

<script type="text/javascript" src="/admin/js/bootstrap-datepicker.js"></script>



<!-- END PAGE LEVEL STYLES -->

<script>
    var FormValidation = function () {


        return {
            //main function to initiate the module
            init: function () {

                // for more info visit the official plugin documentation:
                // http://docs.jquery.com/Plugins/Validation

                var form1 = $('#changepassword-form');
                var error1 = $('.alert-error', form1);
                var success1 = $('.alert-success', form1);

                form1.validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-inline', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",
                    rules: {
                        oldpassword: {
                            minlength:6,
                            required: true
                        },
                        newpassword: {
                            minlength:6,
                            required: true
                        },
                        confirmpassword: {
                            minlength:6,
                            required: true
                        },
                    },

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        success1.hide();
                        error1.show();
                        App.scrollTo(error1, -200);
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                                .closest('.help-inline').removeClass('ok'); // display OK icon
                        $(element)
                                .closest('.control-group').removeClass('success').addClass('error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change dony by hightlight
                        $(element)
                                .closest('.control-group').removeClass('error'); // set error class to the control group
                    },

                    success: function (label) {
                        label
                                .addClass('valid').addClass('help-inline ok') // mark the current input as valid and display OK icon
                                .closest('.control-group').removeClass('error').addClass('success'); // set success class to the control group
                    },

                    submitHandler: function (form) {
                        var data = $("#changepassword-form").serialize();

                        if (data.newpassword!=data.confirmpassword)
                        {
                            error1.val("两次新密码不相同");
                            return;
                        }
                        success1.show();
                        error1.hide();

                        $.ajax({
                            url: '/sysadmin/home/dochangepassword',
                            type: 'post',
                            data: data,
                            success: function(data,status){
                                if(status == 'success'){
                                    if (data.retCode==0)
                                    {
                                        location.href = '/sysadmin/home/';
                                    }
                                    else {
                                        alert(data.retMsg);
                                    }
                                }
                                else {
                                    alert(data.retMsg);
                                }
                            },
                            error: function(data,err){
                               alert('修改失败,请重试');
                            }
                        });
                    }
                });

            }

        };

    }();
</script>


{{/section}}


{{#section 'footer'}}
<script>
    jQuery(document).ready(function() {

        FormValidation.init();

        FormComponents.init();


    });

</script>
{{/section}}

<!-- BEGIN PAGE CONTENT-->

<div class="row-fluid">

    <div class="span12">

        <div class="span9">

            <div class="tab-content">

                <div id="tab_3-3" class="tab-pane active">

                    <div style="height: auto;" id="accordion3-3" class="accordion collapse">

                        <form action="#" id="changepassword-form">
                            <div class="alert alert-error hide">

                                <button class="close" data-dismiss="alert"></button>
                                You have some form errors. Please check below.

                            </div>

                            <div class="alert alert-success hide">

                                <button class="close" data-dismiss="alert"></button>

                                Your form validation is successful!

                            </div>

                            <div class="control-group">

                                <label class="control-label">旧密码<span class="required">*</span></label>

                                <div class="controls">

                                    <input type="password" name="oldpassword" data-required="1" class="span6 m-wrap"/>

                                </div>

                            </div>

                            <div class="control-group">

                                <label class="control-label">新密码<span class="required">*</span></label>

                                <div class="controls">

                                    <input type="password" name="newpassword" data-required="1" class="span6 m-wrap"/>

                                </div>

                            </div>

                            <div class="control-group">

                                <label class="control-label">确认新密码<span class="required">*</span></label>

                                <div class="controls">

                                    <input type="password" name="confirmpassword" data-required="1" class="span6 m-wrap"/>

                                </div>

                            </div>


                            <div class="submit-btn">

                                <button type="submit" id="submitform1" class="btn purple">Change Password</button>

                                <a href="/sysadmin/home/" class="btn">Cancel</a>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

        <!--end span9-->

    </div>

</div>


<!-- END PAGE CONTENT-->
