{{#section 'pagelevelstyles'}}
<!-- BEGIN PAGE LEVEL STYLES -->

<link rel="stylesheet" type="text/css" href="/member/css/select2_metro.css" />

<link rel="stylesheet" type="text/css" href="/member/css/chosen.css" />

<!-- END PAGE LEVEL STYLES -->
{{/section}}


<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN VALIDATION STATES-->

        <div class="portlet box purple">

            <div class="portlet-title">

                <div class="caption"><i class="icon-reorder"></i>请先关注此公众号</div>

            </div>

            <div class="portlet-body form">

                <!-- BEGIN FORM-->
                <img src="/images/qrcode.jpg">

                <!-- END FORM-->

            </div>

        </div>

        <!-- END VALIDATION STATES-->

    </div>

</div>

{{#section 'pagelevelscripts'}}


<!-- BEGIN PAGE LEVEL PLUGINS -->

<script type="text/javascript" src="/member/js/jquery.validate.min.js"></script>

<script type="text/javascript" src="/member/js/additional-methods.min.js"></script>

<script type="text/javascript" src="/member/js/select2.min.js"></script>

<script type="text/javascript" src="/member/js/chosen.jquery.min.js"></script>

<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL STYLES -->

<!-- END PAGE LEVEL STYLES -->

{{/section}}


{{#section 'footer'}}
<script>

</script>
{{/section}}
