{{#section 'pagelevelstyles'}}
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="/admin/css/select2_metro.css"/>

<link rel="stylesheet" href="/admin/css/DT_bootstrap.css"/>

<!-- END PAGE LEVEL STYLES -->
{{/section}}

{{#section 'pagelevelscripts'}}

<!-- BEGIN PAGE LEVEL PLUGINS -->

<script type="text/javascript" src="/admin/js/select2.min.js"></script>


<script type="text/javascript" src="/admin/js/DT_bootstrap.js"></script>

<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->

<script src="/admin/js/table-advanced.js"></script>

<!-- END PAGE LEVEL STYLES -->

{{/section}}


{{#section 'footer'}}
<script>

    function doupdatestatus(wechatuserid, status) {
        $.ajax({
            url: '/sysadmin/member/updatestatus',
            type: 'post',
            data: {wechatuserid: wechatuserid, status: status},
            success: function (data, status) {
                if (status == 'success') {
                    if (data.retCode == 0) {
                        alert("保存成功");
                        location.reload();
                    } else {
                        alert(data.retMsg);
                    }
                }
            },
            error: function (data, status) {
            }
        });
    }

    function doupdatesendallprojectstatus(wechatuserid, status) {
        $.ajax({
            url: '/sysadmin/member/updatesendallprojectstatus',
            type: 'post',
            data: {wechatuserid: wechatuserid, status: status},
            success: function (data, status) {
                if (status == 'success') {
                    if (data.retCode == 0) {
                        alert("保存成功");
                        location.reload();
                    } else {
                        alert(data.retMsg);
                    }
                }
            },
            error: function (data, status) {
            }
        });
    }

    jQuery(document).ready(function () {

        TableAdvanced.init();

    });

</script>
{{/section}}


<!-- BEGIN PAGE CONTENT-->

<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN EXAMPLE TABLE PORTLET-->

        <div class="portlet box green">

            <div class="portlet-title">

                <div class="caption"><i class="icon-globe"></i>成员列表</div>

            </div>

            <div class="portlet-body">

                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">

                    <thead>

                    <tr>

                        <th>OpenID</th>

                        <th>昵称</th>

                        <th >姓名</th>

                        <th>部门</th>

                        <th>手机号</th>

                        <th>分机号</th>

                        <th>邮箱</th>

                        <th >操作</th>

                    </tr>

                    </thead>

                    <tbody>
                    {{#items}}
                    <tr>

                        <td>{{openid}}</td>

                        <td>{{nickname}}</td>

                        <td >{{userinfo.name}}</td>

                        <td >{{userinfo.department}}</td>

                        <td>{{userinfo.tel}}</td>

                        <td >{{userinfo.ext}}</td>

                        <td >{{userinfo.email}}</td>

                        <td ><a href="/sysadmin/project/index?participantsid={{_id}}" >查看项目</a>
                            &nbsp;&nbsp;
                            {{#ifCond status "==" -1 }}
                            <a href="javascript:void(null)" onclick="doupdatestatus('{{openid}}',0)">取消冻结</a>
                            {{else}}
                            <a href="javascript:void(null)"
                               onclick="doupdatestatus('{{openid}}',-1)">冻结</a>
                            {{/ifCond }}
                            &nbsp;&nbsp;
                            {{#ifCond sendallprojectstatus "==" 0 }}
                            <a href="javascript:void(null)" onclick="doupdatesendallprojectstatus('{{openid}}',-1)">取消发送所有</a>
                            {{else}}
                            <a href="javascript:void(null)"
                               onclick="doupdatesendallprojectstatus('{{openid}}',0)">发送所有项目</a>
                            {{/ifCond }}
                        </td>

                    </tr>
                    {{/items}}
                    </tbody>

                </table>

                <div class="row-fluid">
                    <div class="span6">
                        <div class="dataTables_info" id="sample_1_info">总数量:{{totalRows}}</div>
                    </div>
                    <div class="span6">
                        <div class="dataTables_paginate paging_bootstrap pagination">
                            {{{paginateHelper pagination paginationClass='some' leftText='← <span
                                class="hidden-480">Previous</span>
                            ' rightText='<span class="hidden-480">Next</span> → '}}}
                        </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- END EXAMPLE TABLE PORTLET-->

</div>


<!-- END PAGE CONTENT-->
