{{#section 'pagelevelstyles'}}
<!-- BEGIN PAGE LEVEL STYLES -->

<link rel="stylesheet" type="text/css" href="/admin/css/select2_metro.css" />

<link rel="stylesheet" type="text/css" href="/admin/css/chosen.css" />

<!-- END PAGE LEVEL STYLES -->
{{/section}}


<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN VALIDATION STATES-->

        <div class="portlet box purple">

            <div class="portlet-title">

                <div class="caption"><i class="icon-reorder"></i>项目表单</div>

            </div>

            <div class="portlet-body form">

                <!-- BEGIN FORM-->

                <form action="#" id="project-form" class="form-horizontal">

                    <div class="alert alert-error hide">

                        <button class="close" data-dismiss="alert"></button>
                        You have some form errors. Please check below.

                    </div>

                    <div class="alert alert-success hide">

                        <button class="close" data-dismiss="alert"></button>

                        Your form validation is successful!

                    </div>

                    <div class="control-group">

                        <label class="control-label">项目名称<span class="required">*</span></label>

                        <div class="controls">

                            <input type="text" name="name" data-required="1" class="span6 m-wrap"/>

                        </div>

                    </div>

                    <div class="control-group">

                        <label class="control-label">部门<span class="required">*</span></label>

                        <div class="controls">

                            <select class="span6 m-wrap" name="department">

                            <option value="">请选择部门</option>
                                <option value="技术部">技术部</option>
                                <option value="it部">it部</option>
                                <option value="PM组">PM组</option>
                            <option value="客服一部">客服一部</option>
                            <option value="客服二部">客服二部</option>
                            <option value="客服三部">客服三部</option>
                            <option value="客服四部">客服四部</option>
                            <option value="客服五部">客服五部</option>
                            <option value="客服六部">客服六部</option>
                            <option value="客服七部">客服七部</option>
                            <option value="客服八部">客服八部</option>
                            <option value="客服九部">客服九部</option>

                            </select>

                        </div>

                    </div>

                    <div class="control-group">

                        <label class="control-label">项目URL<span class="required">*</span></label>

                        <div class="controls">

                            <input name="siteurl" type="text" class="span6 m-wrap"/>

                            <span class="help-block">e.g: http://www.demo.com or http://demo.com</span>

                        </div>

                    </div>

                    <div class="control-group">

                        <label class="control-label">状态<span class="required">*</span></label>

                        <div class="controls">

                            <select class="span6 m-wrap" name="status">

                            <option value="">请选择状态</option>
                            <option value="0">启用</option>
                            <option value="-1">停用</option>
                            </select>

                        </div>

                    </div>

                    <div class="control-group">

                        <label class="control-label">监测开始时间<span class="required">*</span></label>

                        <div class="controls">

                            <div class="input-append date date-picker" data-date="2012-02-12" data-date-format="yyyy-mm-dd" data-date-viewmode="years">

                                <input name="starttime" class="m-wrap m-ctrl-medium date-picker" readonly size="16" type="text" value="" /><span class="add-on"><i class="icon-calendar"></i></span>

                            </div>

                        </div>

                    </div>


                    <div class="form-actions">

                        <button type="submit" id="submitform1" class="btn purple">保存</button>

                        <button type="button" class="btn">取消</button>

                    </div>

                </form>

                <!-- END FORM-->

            </div>

        </div>

        <!-- END VALIDATION STATES-->

    </div>

</div>

{{#section 'pagelevelscripts'}}


<!-- BEGIN PAGE LEVEL PLUGINS -->

<script type="text/javascript" src="/admin/js/jquery.validate.min.js"></script>

<script type="text/javascript" src="/admin/js/additional-methods.min.js"></script>

<script type="text/javascript" src="/admin/js/select2.min.js"></script>

<script type="text/javascript" src="/admin/js/chosen.jquery.min.js"></script>

<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL STYLES -->

<script type="text/javascript" src="/admin/js/bootstrap-datepicker.js"></script>

<script src="/admin/js/form-components.js"></script>


<!-- END PAGE LEVEL STYLES -->

<script>
    var FormValidation = function () {


        return {
            //main function to initiate the module
            init: function () {

                // for more info visit the official plugin documentation:
                // http://docs.jquery.com/Plugins/Validation

                var form1 = $('#project-form');
                var error1 = $('.alert-error', form1);
                var success1 = $('.alert-success', form1);

                form1.validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-inline', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",
                    rules: {
                        name: {
                            minlength: 5,
                            required: true
                        },
                        department: {
                            required: true
                        },
                        siteurl: {
                            required: true,
                            url: true
                        },
                        status: {
                            required: true
                        },
                        starttime: {
                            required: true
                        }
                    },

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        success1.hide();
                        error1.show();
                        App.scrollTo(error1, -200);
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                                .closest('.help-inline').removeClass('ok'); // display OK icon
                        $(element)
                                .closest('.control-group').removeClass('success').addClass('error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change dony by hightlight
                        $(element)
                                .closest('.control-group').removeClass('error'); // set error class to the control group
                    },

                    success: function (label) {
                        label
                                .addClass('valid').addClass('help-inline ok') // mark the current input as valid and display OK icon
                                .closest('.control-group').removeClass('error').addClass('success'); // set success class to the control group
                    },

                    submitHandler: function (form) {
                        success1.show();
                        error1.hide();
                        var data = $("#project-form").serialize();
                        $.ajax({
                            url: '/sysadmin/project/doadd',
                            type: 'post',
                            data: data,
                            success: function(data,status){
                                alert('保存成功');
                                if(status == 'success'){
                                    location.href = '/sysadmin/project/';
                                }
                            },
                            error: function(data,err){
                                location.href = '/sysadmin/project/';
                            }
                        });
                    }
                });

            }

        };

    }();
</script>

{{/section}}


{{#section 'footer'}}
<script>
    jQuery(document).ready(function() {

        FormValidation.init();

        FormComponents.init();

    });

</script>
{{/section}}
